section[data-id=contacts] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 var(--padding);

  & > h2 {
    text-align: center;
    color: var(--white);
  }
  
  & > p {
    text-align: center;
    color: var(--white);
    margin: 1.6rem 0 4rem;
    max-width: 48rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0.01em;
  }
}

.contacts__form {
  & > p {
    color: rgb(54, 95, 255);
  }
}

@media(max-width: 767px) {
  section[data-id=contacts] {
    align-items: flex-start;
    margin-bottom: 4rem;

    & > h2 {
      text-align: left;
    }
    
    & > p {
      text-align: left;
      font-size: 1.4rem;
      margin-top: 1.2rem;
    }
  }
}