section[id=features] {
  padding: 16rem var(--padding) 0;
}

.features__more-features__wrapper {
  max-width: calc(144rem - var(--padding)*2 + .4rem);
  margin: 0 auto 5.3rem;

  h2 {
    margin-bottom: 3.8rem;
  }
}

.features__more-features__cards--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.features__more-features__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--white);
  padding: 3.2rem;
  overflow: hidden;

  &--gradient-border {
    max-width: 27.4rem;
    width: 100%;
    height: 35.4rem;
    padding: 0.2rem;
    background: linear-gradient(135deg, rgb(123, 202, 255), rgb(0, 116, 255));
    border-radius: 3.2rem;
  }

  & > span {
    position: absolute;
    z-index: 0;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  & > div, & > p {
    z-index: 1;
  }

  &--safe-delivery {
    background: linear-gradient(135deg, rgb(39, 61, 255), rgb(107, 202, 255)), var(--white);

    & > span {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 27rem;
    }
  }

  &--place-payment {
    background: linear-gradient(135deg, rgb(69, 180, 255), rgb(2, 111, 240)), var(--white);

    & > span {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 27rem;
    }
  }

  &--free-takeout {
    background: linear-gradient(135deg, rgb(0, 41, 255), rgb(68, 210, 255)), var(--white);

    & > span {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 27rem;
    }
  }

  &--easy-refunds {
    background: linear-gradient(135deg, rgb(58, 46, 242), rgb(139, 234, 255)), var(--white);

    & > span {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 27rem;
    }
  }

  p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    color: var(--white);
  }
}

.features__more-features__card__title {
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: var(--white);
  margin-bottom: 0.8rem;
}

.features__more-features__card__additional-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  margin-top: auto;
}

.features__more-features__card__additional-item {
  span {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    color: var(--white);
  }

  &__name {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    color: var(--white);
    margin-top: 0.8rem;
  }
}

.features__simple-integration__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3.6rem;
  max-width: calc(144rem - var(--padding)*2 + .4rem);
  margin: 0 auto 3.5rem;
  padding: 10.3rem 0 12.3rem;
  
  h2 {
    width: 100%;
    grid-column: 1 / 7;
  }
}

.features__simple-integration__bg-image {
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  background-image: url('../images/integration_bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-position: center;
  z-index: -1;
}

.features__simple-integration__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  border: .2rem solid var(--white);
  border-radius: 3.2rem;

  &--personal-account, &--api {
    height: 30.4rem;
    box-shadow: -2rem 2rem 8.4rem rgba(0,40,89,.08);
    background: linear-gradient(-45deg, rgba(255,255,255,0), rgb(255,255,255)),
                linear-gradient(rgb(255,255,255,.3), rgb(255,255,255,.3)),
                linear-gradient(rgb(0, 87, 255, .12), rgb(0, 87, 255, .12));
  }

  &--modules, &--services {
    height: 21.2rem;
    box-shadow: -4rem 4rem 16rem rgba(255,255,255,.24),
    -2rem 2rem 6.4rem rgba(0,40,89,.08);
    background: linear-gradient(-45deg, rgba(255,255,255,0), rgb(255,255,255)),
                linear-gradient(rgb(255,255,255,.4), rgb(255,255,255,.4)),
                linear-gradient(rgb(0, 87, 255, .12), rgb(0, 87, 255, .12));
  }

  &--api, &--modules, &--services {
    backdrop-filter: blur(4rem);
  }

  &--personal-account {
    grid-column: 7 / 10;

    .features__simple-integration__card__image {
      height: 18.5rem;
      bottom: 2%;
    }
  }
  &--api {
    grid-column: 10 / 13;

    .features__simple-integration__card__image {
      height: 16.2rem;
      bottom: 16%;
    }
  }
  &--modules {
    grid-column: 1 / 7;
  }
  &--services {
    grid-column: 7 / 13;
  }
}

.features__simple-integration__card__title {
  width: 100%;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: var(--black);
}

.features__simple-integration__card__image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 16.2rem;
  bottom: 10%;
  
  img {
    height: 100%;
    object-fit: contain;
  }
}

.features__simple-integration__card__items {
  display: flex;
  gap: 1.7rem;
  width: 100%;
  height: 8.6rem;
  margin-top: auto;
}

.features__simple-integration__card__items__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 1.8rem;
  background-color: var(--white);
  box-shadow: -2rem 2rem 8.4rem rgba(0, 62, 137, .08);
  padding: 1rem;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.features__convenient-to-get__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16rem;
  padding: 0 var(--padding);

  h2 {
    margin-bottom: 1.6rem;
  }

  p {
    font-weight: 500;
    font-size: clamp(1.2rem, 3.28vw, 1.4rem);
    line-height: 1.5em;
    letter-spacing: 0.01em;
  }

  & > p {
    color: rgba(30, 30, 30, .64);
    margin-bottom: 4rem;
  }
}

.features__convenient-to-get__content {
  display: flex;
  align-items: center;
  gap: 4rem 8rem;
}

.features__convenient-to-get__content__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 37.4rem;
  max-height: 74.6rem;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    left: -28.3%;
    top: 50%;
    transform: translateY(-50%);
    width: 40rem;
    height: 40rem;
    background: linear-gradient(135deg, rgb(60, 65, 243), rgb(73, 199, 254));
    z-index: -1;
    filter: blur(40rem);
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.features__convenient-to-get__content__conveniences {
  --gap: 14.8rem;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.features__convenient-to-get__content__conveniences__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.2rem 4rem;
  max-width: 48rem;
  width: 100%;

  &:not(:last-of-type) {
    &::after {
      content: '';
      position: absolute;
      left: 3.6rem;
      top: calc(100% + 1.6rem);
      height: calc(var(--gap) - 3.2rem);
      border-left: .8rem dotted #2280FF;
    }
  }
}

.features__convenient-to-get__content__conveniences__item__image--gradient-border {
  flex-grow: 1;
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
  padding: 0.2rem;
  border-radius: 2.4rem;
  background: linear-gradient(135deg, rgb(70, 181, 255), rgb(0, 104, 255));
}

.features__convenient-to-get__content__conveniences__item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(135deg, rgb(0, 26, 255), rgb(70, 211, 255));

  svg {
    max-width: 3.6rem;
    max-height: 3rem;
    width: auto;
    height: auto;
    -webkit-filter: drop-shadow(.8rem .8rem 1.4rem #0972ff);
    filter: drop-shadow(.8rem .8rem 1.4rem #0972ff);
  }
}

.features__convenient-to-get__content__conveniences__item__text-content {
  h4 {
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 1.2rem;
  }

  p {
    color: var(--black);
  }
}

.features__clients__wrapper {
  position: relative;
  max-width: calc(144rem - var(--padding)*2 + .4rem);
  margin: 0 auto;

  h2 {
    margin-bottom: 4.8rem;
  }
}

.features__clients__bg-image {
    position: absolute;
    width: 100vw;
    height: 148.1rem;
    left: 50%;
    transform: translate(-50%, -21%);
    background-image: url('../images/our_clients_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
}

.features__clients__cards {
  .swiper-wrapper {
    padding-bottom: 4rem;
  }

  .swiper-pagination-bullet {
    background-color: var(--white);
  }
}

.features__clients__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 18rem;
  height: 14rem;
  border: .2rem solid var(--white);
  border-radius: 2.4rem;
  background: 
  linear-gradient(45deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
  linear-gradient(45deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .64)),
  linear-gradient(45deg, rgba(0, 87, 255, .12), rgba(0, 87, 255, .12));
  backdrop-filter: blur(6.4rem);
  box-shadow: 1rem 1.2rem 4rem rgba(0, 104, 255, .04),
              -1rem 1rem 4.2rem rgba(0, 40, 89, .08);

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media(max-width: 1439px) {
  .features__simple-integration__wrapper {
    align-items: center;

    h2 {
      grid-column: 1 / -1;
    }
  }

  .features__simple-integration__card {
    &--personal-account {
      grid-column: 1 / 5;
    }
    &--api {
      grid-column: 9 / 13;
      grid-row: 3;
    }
    &--modules {
      grid-column: 5 / 13;
      grid-row: 2;
    }
    &--services {
      grid-column: 1 / 9;
    }
  }
}

@media(max-width: 1023px) {  
  section[id=features] {
    padding: 0;
    padding-top: 12rem;
  }

  .features__more-features__wrapper {
    max-width: calc(144rem - var(--padding)*2);
    margin: 0 auto 12rem;

    h2 {
      margin-bottom: 2rem;
      padding: 0 var(--padding);
    }

    .swiper {
      padding: 0 var(--padding);
    }

    .swiper-slide {
      width: 37.2rem;
    }
  }

  .features__more-features__cards--mobile {
    width: 100%;
  }

  .features__more-features__card {
    padding: 2rem;
  
    &--gradient-border {
      max-width: none;
      border-radius: 2.4rem;
      height: 24rem;
    }

    &--safe-delivery {  
      & > span {
        top: -15%;
        left: unset;
        right: -3rem;

        img {
          -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 70%, transparent 78%);
          mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 70%, transparent 78%);
        }
      }
    }

    &--place-payment {  
      & > span {
        top: -15%;
        left: unset;
        right: -3rem;
      }
    }

    &--free-takeout {  
      & > span {
        top: -15%;
        left: unset;
        right: 1rem;
        width: 23rem;
      }
    }

    &--easy-refunds {  
      & > span {
        top: -9%;
        left: unset;
        right: -1rem;
        width: 20rem;
      }
    }

    & > span {
      transform: translateX(0);
    }
  
    p {
      font-size: clamp(1.2rem, 3.3vw, 1.4rem);
    }
  }
  
  .features__more-features__card__title {
    font-size: clamp(1.9rem, 5.61vw, 2.4rem);
  }
  
  .features__more-features__card__additional-item {
    span {
      font-size: 2.4rem;
    }
  }

  .features__convenient-to-get__wrapper {
    margin-bottom: 12rem;

    h2 {
      text-align: center;
      margin-bottom: 1.2rem;
    }
  
    & > p {
      text-align: center;
      color: rgb(30, 30, 30);
    }
  }
  
  .features__convenient-to-get__content {
    flex-direction: column;
  }
  
  .features__convenient-to-get__content__phone {
    max-width: 32rem;
    max-height: 63.9rem;

    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%);
    }
  }
  
  .features__convenient-to-get__content__conveniences {
    --gap: 4rem;
    align-items: center;
  }
  
  .features__convenient-to-get__content__conveniences__item {
    flex-direction: column;
    max-width: clamp(38rem, 88.7vw, 42rem);
  
    &:not(:last-of-type) {
      &::after {
        display: none;
      }
    }
  }
  
  .features__convenient-to-get__content__conveniences__item__image--gradient-border {
    width: 4rem;
    height: 4rem;
    padding: 0.1rem;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
  }
  
  .features__convenient-to-get__content__conveniences__item__image {  
    svg {
      max-width: 2rem;
      max-height: 1.4rem;
      -webkit-filter: drop-shadow(.4rem .4rem .7rem #0972ff);
      filter: drop-shadow(.4rem .4rem .7rem #0972ff);
    }
  }
  
  .features__convenient-to-get__content__conveniences__item__text-content {
    h4 {
      text-align: center;
      font-size: clamp(1.4rem, 4.2vw, 1.8rem);
      margin-bottom: .8rem;
    }

    p {
      text-align: center;
    }
  }  

  .features__simple-integration__wrapper {
    gap: 1.6rem;
    padding: 0 var(--padding);
    margin: 0 0 15.6rem;
    
    h2 {
      font-size: clamp(2.2rem, 5.6vw, 2.4rem);
      grid-column: 1 / 13;
      margin-bottom: 2px;
    }
  }

  .features__simple-integration__bg-image {
    bottom: -2.2rem;
    height: 58rem;
    background-image: url('../images/integration_bg_mobile.png');
  }

  .features__simple-integration__card {
    padding: 2rem;
    border-radius: 2.4rem;

    &--personal-account, &--api {
      height: 21.8rem;
    }
  
    &--modules, &--services {
      height: 13.9rem;
    }

    &--personal-account {
      grid-column: 7 / 13;

      .features__simple-integration__card__image {
        height: 14.4rem;
        bottom: 0;
      }
    }
    &--api {
      grid-column: 1 / 7;
      grid-row: 2;

      .features__simple-integration__card__image {
        height: 12rem;
        bottom: 10%;
      }
    }
    &--modules {
      grid-column: 1 / 13;
      grid-row: 3;
    }
    &--services {
      grid-column: 1 / 13;
    }
  }

  .features__simple-integration__card__title {
    font-size: clamp(1.4rem, 3.8vw, 1.6rem);
  }

  .features__simple-integration__card__items {
    gap: 2rem;
    height: 6.4rem;
  }

  .features__clients__wrapper {
    h2 {
      margin-bottom: 2rem;
      padding: 0 var(--padding);
    }
  }

  .features__clients__bg-image {
    height: 68rem;
    transform: translate(-50%, -4%);
    background-image: url('../images/our_clients_bg2.png');
  }

  .features__clients__cards {
    .swiper {
      padding: 0 var(--padding);
      overflow: visible;
    }

    .swiper-wrapper {
      padding-bottom: 0;
    }

    .swiper-slide {
      width: 17.4rem;
    }
  }
  
  .features__clients__card {
    height: 12rem;
    border-radius: 1.6rem;
    box-shadow: 2rem 2.4rem 8rem rgba(0, 104, 255, .04),
                -2rem 2rem 8.4rem rgba(0, 40, 89, .08);
  }
}

@media(max-width: 427px) {
  .features__simple-integration__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .features__simple-integration__card {
    &--personal-account, &--api {
      height: 16.8rem;
    }

    &--personal-account {
      .features__simple-integration__card__image {
        height: 10rem;
        bottom: 5%;
      }
    }
    &--api {
      .features__simple-integration__card__image {
        height: 9rem;
        bottom: 10%;
      }
    }
  }

  .features__simple-integration__card__title {
    text-align: center;
  }

  .features__convenient-to-get__content__phone {
    img {
      max-width: 65%;
    }
  }
}