@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nominee";
  src: url("../fonts/Nominee-Medium.otf");
  font-weight: 500;
  font-style: normal;
}