.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 2rem var(--padding);
  background-color: var(--header-bg);
  backdrop-filter: blur(8rem);
  transition: all .3s ease-in-out;

  .overlay {
    backdrop-filter: none;
    background-color: transparent;
  }
}

header.header--white {
  --header-bg: rgba(255, 255, 255, .64);
  box-shadow: -2rem 2rem 8.4rem rgba(#002859, .02);

  .header__logo svg {
    path:not(:nth-of-type(3)) {
      fill: var((--sky-blue));
    }

    stop {
      &:first-of-type {
        stop-color: var((--sky-blue));
      }
      &:last-of-type {
        stop-color: #2788FF;
      }
    }
  }

  .header__nav li a {
    color: var(--black);

    &.active-link, &:hover, &:focus-visible {
      color: var(--sky-blue);

      &::after {
        background-color: var(--sky-blue);
      }
    }
  }

  .header__phone {  
    svg path {
      fill: var(--sky-blue);
    }
  
    a {
      color: var(--black);

      &:hover, &:focus-visible {
        color: var(--sky-blue);
      }
    }
  }
}

.header__logo {
  display: flex;
  width: 6.3rem;
  height: 2.4rem;
  margin-right: 4rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  li {
    a {
      display: flex;
      position: relative;
      color: var(--white);
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 0.02em;
      font-size: 1.4rem;
      padding-bottom: 1.5px;
      transform: translateY(.2rem);
      transition: all .3s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: transparent;
        transition: all .3s ease-in-out;
      }

      &.active-link, &:hover, &:focus-visible {
        font-weight: 700;

        &::after {
          background-color: var(--white);
        }
      }
    }
  }
}

.header__phone {
  display: flex;
  gap: .8rem;
  margin-left: auto;

  svg {
    width: 1.6rem;
    height: 1.6rem;

    path {
      fill: var(--white);
    }
  }

  a {
    color: var(--white);
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover, &:focus-visible {
      text-decoration: underline;
    }
  }
}

// mobile
@media(max-width: 1023px) {
  body.menu-open {
    .header__nav__mobile__wrapper {
      right: 0;
      opacity: 1;
    }
  }

  header {
    align-items: center;
    justify-content: space-between;
    padding: 3.9rem .9rem 1.1rem 2rem;

    &.header--white {
      .header__nav__icon--mobile span {
        background-color: var(--sky-blue);
      }
    }

    .header__logo {
      width: 5.7rem;
      height: 2.2rem;
    }
  }

  .header__nav__mobile__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    width: 62vw;
    height: 100vh;
    padding: 3.9rem .9rem 3.9rem 4rem;
    background-color: var(--white);
    backdrop-filter: blur(4rem);
    box-shadow: -4rem 0 8rem rgba(0, 40, 89, .08);
    z-index: 5;
    opacity: 0;
    transition: all .3s ease-in-out;

    .header__nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      width: 100%;

      li {
        width: 100%;

        a {
          width: 100%;
          font-size: 1.6rem;
          line-height: 1.4em;
          letter-spacing: 0.01em;
          font-weight: 700;
          padding: 1rem 0;
          color: var(--black);
          transform: translateY(0);

          &.active-link, &:hover, &:focus-visible {
            color: var(--sky-blue);
          }

          &::after {
            display: none;
          }
        }

        &:first-of-type a {
          padding-top: 0;
        }

        &:last-of-type a {
          padding-bottom: 0;
        }
      }
    }
  }
  
  .header__nav__mobile__btn--close {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 4rem;
    height: 4rem;
    margin-bottom: 3.1rem;

    span {
      position: absolute;
      width: 1.6rem;
      height: 0.2rem;
      border-radius: 1rem;
      background-color: var(--black);
      transform: rotate(45deg);

      &:first-child {
        transform: rotate(-45deg);
      }
    }
  }

  .header__nav__icon--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    gap: .4rem;

    span {
      width: 1.6rem;
      height: 0.2rem;
      border-radius: 1rem;
      background-color: var(--white);
    }
  }

  .header__phone {
    display: none;
  }
}