@import 'reset';
@import 'fonts';

:root {
  --white: #ffffff;
  --black: #1E1E1E;
  --sky-blue: #46B5FF;

  --padding: 12rem;
  --header-bg: rgba(255, 255, 255, .16);
}

body {
  font-family: 'Nominee', sans-serif;

  &.overflow {
    overflow: hidden;

    .overlay {
      pointer-events: auto;
      opacity: 1;
    }
  }

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, .16);
  backdrop-filter: blur(.8rem);
  transition: all .3s ease-in-out;
  z-index: 4;
}

svg {
  path, stop {
    transition: all .3s ease-in-out;
  }
}

a, input {
  transition: all .3s ease-in-out;
}

button, input {
  font-family: 'Nominee', sans-serif;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  min-width: 20.3rem;
  padding: 0 3.2rem;
  border-radius: 1.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  color: var(--white);
  background: linear-gradient(90deg, #55B8FF, #3152FF);
  cursor: pointer;
  z-index: 2;
  transition: all .3s ease-in-out;

  &:hover, &:focus-visible {
    background: linear-gradient(45deg, #41AEFD, #153BFF);
  }

  &:active {
    background: linear-gradient(45deg, #2FA8FF, #0E34FF);
  }

  &--white {
    position: relative;
    color: #1B3EF6;
    background: var(--white);
    overflow: hidden;

    &:hover, &:focus-visible {
      background: rgb(215, 237, 255);
    }
  
    &:active {
      background: rgba(215, 237, 255, .9);
    }
  }
}

input[type=text] {
  --red: #E70000;

  position: relative;
  display: flex;
  align-self: flex-start;
  min-width: 25rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  color: var(--black);
  padding: .85rem 1.6rem;
  border: .1rem solid transparent;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.2rem rgba(30, 30, 30, .1);

  &::placeholder {
    color: rgba(30, 30, 30, .4);
  }

  &:focus {
    border-color: var(--sky-blue);
    
    &::placeholder {
      color: transparent;
    }
  }

  &:not(:placeholder-shown) {
    border-color: transparent;
  }

  &[data-required=true] {
    color: var(--red);
    border-color: var(--red);
    cursor: default;

    &::placeholder {
      color: transparent;
    }
  }
}

h2 {
  font-family: 'ObjectSans', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2em;
  color: var(--black);
}

// mobile
@media(max-width: 1439px) {
  :root {
    --padding: 6rem;
  }
}

@media(max-width: 1023px) {
  :root {
    --padding: 2rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1em;
  }

  .button {
    border-radius: .8rem;
    font-size: 1.6rem;
  }
}