@import 'reset';
@import 'fonts';

:root {
  --white: #ffffff;
  --black: #1E1E1E;
  --sky-blue: #46B5FF;

  --padding: 12rem;
  --header-bg: rgba(255, 255, 255, .16);
}

body {
  font-family: 'Nominee', sans-serif;

  &.overflow {
    overflow: hidden;

    .overlay {
      pointer-events: auto;
      opacity: 1;
    }
  }

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, .16);
  backdrop-filter: blur(.8rem);
  transition: all .3s ease-in-out;
  z-index: 4;
}

svg {
  path, stop {
    transition: all .3s ease-in-out;
  }
}

a {
  transition: all .3s ease-in-out;
}

button {
  font-family: 'Nominee', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: 4rem;
  padding: 0 3.2rem;
  border-radius: 1.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  color: var(--white);
  background: linear-gradient(90deg, #55B8FF, #3152FF);
  cursor: pointer;
  transition: all 3s ease-in-out;

  &:hover, &:focus-visible {
    background: linear-gradient(45deg, #41AEFD, #153BFF);
  }

  &:active {
    background: linear-gradient(45deg, #2FA8FF, #0E34FF);
  }

  &--white {

  }
}

// mobile
@media(max-width: 1439px) {
  :root {
    --padding: 6rem;
  }
}

@media(max-width: 1023px) {
  :root {
    --padding: 2rem;
  }
}