section[data-id=rates] {
  margin-bottom: 16rem;
}

.rates__wrapper {
  width: 100%;
  padding: 0 var(--padding);
}

.rates__cards__wrapper {
  width: 100%;
}

.rates__cards--desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  width: 100%;
  transform: translateY(-8.2rem);
}

.rates__cards__item {
  position: relative;
  display: flex;
  overflow: hidden;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: inherit;
  background-color: var(--white);

  &--gradient-border {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 28rem;
    width: 100%;
    height: 32.4rem;
    border-radius: 3.2rem;
    background: linear-gradient(rgb(150, 214, 255), rgba(255, 255, 255, 0));
  }

  & > span {
    display: flex;
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: blur(12rem);
  }

  &--delivery-partners {
    background: linear-gradient(135deg, rgba(0, 104, 255, .2), rgba(240, 243, 246, 0)) var(--white);

    .rates__cards__item__main-image {
      top: 32.5%;
      width: 18.5rem;
      height: 10rem;

      img {
        object-position: left;
      }
    }

    span {
      &:nth-of-type(1) {
        bottom: -54%;
        right: -16%;
        width: 37.6rem;
        background-color: #0047FF;
      }
      &:nth-of-type(2) {
        top: -50%;
        left: -60%;
        width: 26.6rem;
        background-color: #5B1EE9;
      }
      &:nth-of-type(3) {
        right: -36.8%;
        bottom: -38%;
        width: 26.6rem;
        background-color: #B8FBFF;
      }
    }
  }

  &--refund {
    background: linear-gradient(135deg, rgba(83, 30, 209, .2), rgba(240, 243, 246, 0)) var(--white);

    span {
      &:nth-of-type(1) {
        left: -17%;
        bottom: -55%;
        width: 37.6rem;
        background-color: #0005FF;
      }
      &:nth-of-type(2) {
        top: -21.6%;
        right: -23.5%;
        width: 26.6rem;
        background-color: #9AE7FF;
      }
    }

    .rates__cards__item__main-image {
      &:nth-of-type(2) {
        top: 20%;
        left: 18%;
        width: 12.4rem;
        height: 11.7rem;
      }
      &:nth-of-type(1) {
        top: 10%;
        left: 43%;
        width: 12.5rem;
        height: 13.2rem;
      }
    }
  }

  &--delivery-close {
    background: linear-gradient(135deg, rgba(0, 104, 255, .2), rgba(240, 243, 246, 0)) var(--white);

    .rates__cards__item__main-image {
      top: 9%;
      left: 17%;
      width: 18.2rem;
      height: 16rem;
    }

    span {
      &:nth-of-type(3) {
        bottom: -75%;
        right: -16%;
        width: 37.6rem;
        background-color: #0038FF;
      }
      &:nth-of-type(2) {
        top: 6%;
        left: 2.5%;
        width: 26.6rem;
        background-color: #C1F0FF;
      }
      &:nth-of-type(1) {
        top: 65%;
        left: 6%;
        width: 26.6rem;
        background-color: #5B1EE9;
      }
    }
  }

  &--delivery-offline {
    background: linear-gradient(135deg, rgba(0, 41, 255, .2), rgba(240, 243, 246, 0)) var(--white);

    .rates__cards__item__main-image {
      &:first-of-type {
        top: -5%;
        left: 8%;
        width: 12.4rem;
        height: 11.7rem;
      }
      &:nth-of-type(2) {
        top: 15%;
        right: -7%;
        width: 20rem;
        height: 18rem;
      }
    }

    span {
      &:nth-of-type(1) {
        right: -16%;
        bottom: -55%;
        width: 37.6rem;
        background-color: #0005FF;
        filter: blur(10rem);
      }
      &:nth-of-type(2) {
        top: 9%;
        left: 22.5%;
        width: 26.6rem;
        background-color: #BEFFFB;
      }
    }
  }
}

.rates__cards__item__main-image {
  position: absolute;
  z-index: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
  }
}

.rates__cards__item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  z-index: 3;

  p {
    font-family: 'ObjectSans', sans-serif;
    font-weight: 900;
    font-size: clamp(1.6rem, 1.5vw, 1.8rem);
    line-height: 1.5em;
    letter-spacing: 0.01em;
    color: var(--white);
    margin-top: auto;
    order: 2;
  }
}

.rates__cards__item__content__mini-cards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 100%;
  gap: 1.2rem;
}

.rates__cards__item__content__mini-cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 3.2rem;
  overflow: hidden;
  border-radius: 1.1rem;
  background-color: var(--white);
  border: .1rem solid #E5E9F6;

  img {
    max-width: 100%;
    max-height: 100%;
    min-height: 28%;
    min-width: 50%;
    object-fit: contain;
    user-select: none;
  }
}

.rates__text-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 7.8rem;
  gap: 4rem;
}

.rates__text-content__left {
  flex-basis: 50%;

  h2 {
    margin-bottom: 1.6rem;
  }

  p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    margin-top: 0.8rem;
    color: rgba(30, 30, 30, .64);
  }
}

.rates__text-content__right {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
  flex-basis: 50%;

  & > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26rem;
    aspect-ratio: 1/1;
    background: rgba(70, 182, 255, .6);
    filter: blur(18rem);
  }
}

.rates__text-content__right__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  &__number {
    font-family: 'ObjectSans', sans-serif;
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 1em;
    letter-spacing: 0;
    background: linear-gradient(90deg, rgb(42, 50, 243) 60%, rgb(42, 136, 243));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:nth-of-type(2n) {
    .rates__text-content__right__item__number {
      background: rgb(42, 136, 243);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}

.rates__text-content__right__item__header {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 0.8rem;
}

@media (max-width: 1439px) {
  .rates__cards--desktop {
    max-width: 90.8rem;
    margin: 0 auto;
    gap: 1.4rem;
    transform: translateY(-8.2rem);
  }
  
  .rates__cards__item {  
    &--gradient-border {
      border-radius: 1.8rem;
    }

    &--refund {
      .rates__cards__item__main-image {
        &:nth-of-type(2) {
          top: 18%;
          left: 15%;
          width: 10.4rem;
        }
        &:nth-of-type(1) {
          width: 10.5rem;
        }
      }
    }
  
    &--delivery-close {  
      .rates__cards__item__main-image {
        left: 14%;
        width: 15.2rem;
      }  
    }
  
    &--delivery-offline {  
      .rates__cards__item__main-image {
        &:first-of-type {
          top: -6%;
          width: 10.4rem;
        }
        &:nth-of-type(2) {
          right: -18%;
          height: 14rem;
        }
      }
    }
  }
  
  .rates__cards__item__content {
    padding: 1.4rem;
  }
  
  .rates__cards__item__content__mini-cards {
    gap: .8rem;
  }

  .rates__text-content {
    margin-top: 4rem;
  }

  .rates__text-content__left {
    p {
      font-size: 1.6rem;
    }
  }

  .rates__text-content__right {  
    & > span {
      width: 25rem;
    }
  }
  
  .rates__text-content__right__item {
    &__number {
      font-size: 6.2rem;
    }
  }
  
  .rates__text-content__right__item__header {
    font-size: clamp(1.4rem, 4.13vw, 1.6rem);
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 1023px) {
  .rates__text-content {
    flex-direction: column;
  }

  .rates__text-content__left { 
    h2 {
      margin-bottom: 1.2rem;
    }
  
    p {
      font-size: 1.4rem;
      color: var(--black);
    }
  }

  .rates__text-content__right {
    justify-items: stretch;
    gap: 2rem;
    max-width: 38.8rem;
    width: 100%;
  
    & > span {
      width: 20rem;
    }
  }
  
  .rates__text-content__right__item {
    align-items: flex-start;
  
    &__number {
      font-size: clamp(4rem, 12.4vw, 4.8rem);
    }
  }
}