section[id=tariffs] {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16rem;

  & > h2 {
    text-align: center;
    margin-bottom: 0.6rem;
  }

  & > p {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    color: rgba(30, 30, 30, .64);
    margin-bottom: 4rem;
  }

  .swiper {
    width: 100%;
    padding-bottom: 3.8rem;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 83.8rem;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background-color: #D9D9D9;

    &-active {
      background-color: var(--sky-blue);
    }
  }

  & > button {
    align-self: center;
    margin-top: 4rem;
  }
}

.tariffs__item__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  background:
    linear-gradient(-135deg, rgba(29, 214, 255, 0), rgba(113, 0, 225, .6)),
    linear-gradient(135deg, rgb(0, 26, 255), rgb(51, 194, 255));
  border-radius: inherit;

  &--gradient-border {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0.2rem;
    background: linear-gradient(135deg, rgb(123, 202, 255), rgb(0, 116, 255));
    border-radius: 3.2rem;
  }
}

.tariffs__item__title {
  text-align: center;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 1.2em;
  letter-spacing: 0;
  color: var(--white);
  margin-bottom: 3rem;
}

.tariffs__item__table {
  width: 100%;
  border: .2rem solid rgb(76, 149, 255);
  border-radius: 1.6rem;
  border-spacing: 0;
  
  tbody {
    width: 100%;
  }

  td {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0;
    color: var(--white);
    padding: 1.4rem 2.5rem 1.3rem 2.4rem;
  }
}

@media(min-width: 1024px) {
  section[id=tariffs] {
    .swiper-slide {
      &:not(.swiper-slide-active) {
        .tariffs__item__wrapper {
          background: transparent;
  
          &--gradient-border {
            background: transparent;
          }
        }
  
        .tariffs__item__title {
          color: var(--black);
        }
        
        .tariffs__item__table {
          border-color: transparent;
  
          td {
            color: var(--black);
  
            &:first-of-type {
              color:rgba(30, 30, 30, .3);
            }
          }
  
          tr:first-of-type {
            td {
              color: rgba(30, 30, 30, .3);
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1023px) {
  section[id=tariffs] {
    padding-top: 12rem;

    & > h2 {
      margin-bottom: 1.2rem;
    }
  
    & > p {
      font-size: clamp(1.2rem, 3.28vw, 1.4rem);
      color: var(--black);
    }
  
    .swiper {
      padding-bottom: 0;
    }
  
    .swiper-slide {
      width: 81.3vw;
      height: 59.2rem;
    }
  }
  
  .tariffs__item__wrapper {
    padding: 1.8rem 0;
  
    &--gradient-border {
      border-radius: 2.4rem;
    }
  }
  
  .tariffs__item__title {
    font-size: 1.8rem;
    margin: 0 2.2rem 2.4rem;
    text-align: left;
    max-width: 21rem;
  }

  .tariffs__item__accordion__wrapper {
    width: 100%;
  }

  .tariffs__item__accordion {
    width: 100%;
    border-top: .15rem solid rgba(255, 255, 255, .2);

    &:first-of-type {
      border-top: none;
    }

    &--open {
      & > a {
        background-color: rgba(255, 255, 255, .2);
      }

      .tariffs__item__accordion__btn__image {
        svg {
          transform: rotate(180deg);
        }
      }

      .tariffs__item__accordion__list {
        pointer-events: all;
        opacity: 1;
        max-height: 600px;
        transition: all .5s ease-in-out;
      }
    }
  }

  .tariffs__item__accordion__btn span,
  .tariffs__item__accordion__list__amount,
  .tariffs__item__accordion__list__price {
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0;
    color: var(--white);
  }

  .tariffs__item__accordion__btn {
    display: flex;
    align-items: center;
    padding: .2rem .8rem;

    span {
      font-weight: 700;
      font-size: 1.6rem;
    }
  }

  .tariffs__item__accordion__btn__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    svg {
      width: 1.4rem;
      height: .7rem;
    }
  }

  .tariffs__item__accordion__list {
    height: 100%;
    max-height: 0;
    opacity: 0;
    pointer-events: none;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.15rem 5rem;
    }
  }

  .tariffs__item__accordion__list__amount {
    font-weight: 700;
    min-width: 7.2rem;
  }

  .tariffs__item__accordion__list__price {
    font-weight: 500;
  }
}
